<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tvprogramapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tvprogramapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tvProgramApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tvProgramApi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="cMind_ProgramGuideEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TvProgramGuideApi.Models.ProgramGuideEntities, TvProgramGuideApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzurephotoStorage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=channelscheduleimage;AccountKey=HkdmBjTCCnFJeVbtHrGzTew/s/2F6jhL6CFo/E1c9diUMlJX3Mx4S5NbCjPOmyFuWme81tlE9A1xX9XXswu/xA==;BlobEndpoint=https://channelscheduleimage.blob.core.windows.net/;TableEndpoint=https://channelscheduleimage.table.core.windows.net/;QueueEndpoint=https://channelscheduleimage.queue.core.windows.net/;FileEndpoint=https://channelscheduleimage.file.core.windows.net/" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzurephotoStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=channelscheduleimage;AccountKey=HkdmBjTCCnFJeVbtHrGzTew/s/2F6jhL6CFo/E1c9diUMlJX3Mx4S5NbCjPOmyFuWme81tlE9A1xX9XXswu/xA==;BlobEndpoint=https://channelscheduleimage.blob.core.windows.net/;TableEndpoint=https://channelscheduleimage.table.core.windows.net/;QueueEndpoint=https://channelscheduleimage.queue.core.windows.net/;FileEndpoint=https://channelscheduleimage.file.core.windows.net/" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=fortex.database.windows.net,1433;Initial Catalog=NepalChannelSchedule;User ID=amir@fortex;Password=Forest1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ChannelSchedule.csdl|res://*/Models.ChannelSchedule.ssdl|res://*/Models.ChannelSchedule.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fortex.database.windows.net,1433;initial catalog=NepalChannelSchedule;user id=amir@fortex;password=Forest1234;multipleactiveresultsets=True;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzurephotoStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cMind_ProgramGuideEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
  </ItemGroup>
</Project>